# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS=key1,key2
API_TOKEN_SALT=random-salt
ADMIN_JWT_SECRET=random-admin-jwt-secret
TRANSFER_TOKEN_SALT=random-transfer-salt
JWT_SECRET=random-jwt-secret

# Database (SQLite по умолчанию)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

# Для продакшена: раскомментировать и задать
# DATABASE_CLIENT=postgres
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_NAME=strapi
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=your-password
